In [3]:
%matplotlib inline

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Acquisition

## Live Demos

In [9]:
accidents = pd.read_csv("accidents.csv")

In [11]:
accidents

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [10]:
accidents.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')

In [12]:
accidents["Miles from Home"]

0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: Miles from Home, dtype: object